* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
}

main {
    position: relative;
}
#background-img {
    background-image: url(/images/bg-desktop-dark.jpg);
    height: 40vh;
}

#background-color {
    background-color: hsl(220, 98%, 61%);
    height: 40vh;
}

#todo-list {
    /* height: 20vh; */
    background-color: hsla(220, 98%, 61%, 0.397);
    position:absolute;
    top: 30px;
    width: 100vh;
}

.container {
    display: flex;
    height: 50px;
    width: 80%;
 
}

#img-check {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}

#img-check > img{
    display: none;

}

.containerListItem {
    display: flex;
}