* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    align-items: center;
    
    height: 70px;
    gap: 2rem;
    width: 100%;
    background: rgb(37, 38, 83);
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 9px;
 
}

#img-check {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    
}

#img-check:hover {
    background-color: #0077ff;
}

#img-check > img{
    display: none;

}


html, body {
  height: 100%;
  width: 100%;
}

main {
  position: relative;
  height: 100vh;
  width: 100%;
}

#background-img{
  height: 50vh;
  width: 100%;
  background: url(/images/bg-desktop-dark.jpg) center/cover no-repeat;
}

#background-color {
  height: 50vh;
  width: 100%;
  background-color: #113864; 
}

/* 📦 Center box */
#todo-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;

  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


#todo {
    width: 400px;
    height: 50px;
    background: rgba(60, 62, 160, 0.582);
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.containerListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
    background: rgba(231, 231, 238, 0.582)
}

.list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list-image {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
}

.iconInList {
    display: none;
}